DATABASE_ENGINE=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=smart_dms
MYSQL_PASSWORD=change-this-password
MYSQL_DATABASE=smart_dms
MYSQL_CHARSET=utf8mb4
PORTAL_BASE_URL=http://127.0.0.1:5001
QUARTERLY_REMINDERS_ENABLED=true
QUARTERLY_REMINDER_HOUR=9
